extends ../layout


block content
    .card
        .card-header
            | Modifier un utilisateur
        .card-body
            form(method="POST" action=`/users/${users.id_client}`)
                .form-group
                    label(for='exampleInputPassword1') Nom
                    input.form-control(type='text' name="nom" value=`${users.nom}`)
                .form-group
                    label(for='exampleInputPassword1') Prénom
                    input.form-control(type='text' name="prenom" value=`${users.prenom}`)
                .form-group
                    label(for='exampleInputPassword1') Adresse
                    input.form-control(type='text' name="adresse" value=`${users.adresse}`)
                .form-group
                    label(for='exampleInputPassword1') Date de naissance
                    input.form-control(type='text' name="date_naissance" value=`${users.date_naissance}`)
                .form-group
                    label(for='exampleInputPassword1') Civilité
                    select#civiliteSelector.form-control(name='civilite' value=`${users.civilite}`)
                        option(value='')
                        option(value='F') F
                        option(value='M') M
                .form-group
                    label(for='exampleInputPassword1') Numéro
                    input.form-control(type='text' name="numero" value=`${users.numero}`)
                .form-group
                    label(for='exampleInputPassword1') Ville
                    #AutocompleteCity-divider
                        input#AutocompleteCity-input.form-control(type="text" value=`${users.id_ville}` autocomplete="off" onKeyUp='ajaxAutocompleteCity(this)')
                        input#AutocompleteCity-inputId.d-none(type="text" name="id_ville" value=`${users.id_ville}` autocomplete="off" onKeyUp='ajaxAutocompleteCity(this)')
                        #AutocompleteCity-selector
                    
                button.btn.btn-primary(type='submit') Modifier
    script.
        $(document).ready(() => {
            autoSelectGender();
            autoSelectCity();
            removeNullStringInputForCity();
        })
        
        const autoSelectGender = () => {
            // Auto remplissage du genre
            var civilite = document.getElementById('civiliteSelector').getAttribute("value");
            // Si la civilite est null
            civilite = civilite == "null" ? "" : civilite;
            // Options
            var pOptions = document.getElementById('civiliteSelector').options;
            // Seletionne la civilite
            for (i=0; i < pOptions.length; i++) {
                if (pOptions[i].value == civilite) pOptions[i].selected = true;
            }
        }

        const autoSelectCity = () => {
            var cityId = $("#AutocompleteCity-input").val()

            $.ajax({ 
                type: 'GET', 
                url: '/cities/byId/' + cityId, 
                data: { get_param: 'value' }, 
                dataType: 'json',
                success: function (data) { 
                    $.each(data, function(index, elem) {
                        $("#AutocompleteCity-input").val(elem.nom);
                        $("#AutocompleteCity-inputId").val(elem.id_ville);
                    });
                }
            });
        }

        const removeNullStringInputForCity = () => {
            if($("#AutocompleteCity-input").val() == "null")
                $("#AutocompleteCity-input").val("")
        }

        const removeAllChildsById = id => {
            const myNode = document.getElementById(id);
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }   
        }

        const ajaxAutocompleteCity = elem => {
            removeAllChildsById("AutocompleteCity-selector");
            $.ajax({ 
                type: 'GET', 
                url: '/cities/' + elem.value, 
                data: { get_param: 'value' }, 
                dataType: 'json',
                success: function (data) { 
                    $.each(data, function(index, elem) {
                        $('#AutocompleteCity-selector').append($('<div>', {
                            text: elem.nom + " / " + elem.code_postal ,
                            class:'AutocompleteCity-elem',
                            onclick:"selectThisCity('" + elem.nom + "',"+ elem.id_ville +")"
                        }));
                        $("#AutocompleteCity-inputId").val("")

                    });
                }
            });
        }

        const selectThisCity = (nom,id) => {
            $("#AutocompleteCity-input").val(nom);
            $("#AutocompleteCity-inputId").val(id);
            removeAllChildsById("AutocompleteCity-selector");
        }